
body{
    background-color:#000;
    font-family:sans-serif;
    color:#ffffff;
}
h1 {
    font-size: 1.5rem;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index:10;
    background: linear-gradient(to bottom, #000, #000000de);
    padding: 0.5rem 2rem;
}
nav{
    display: flex;
}
nav img{
    height: 40px;
}

.navigation{
    justify-content: space-between;
    display: flex;
    width: 85%;
}

ul.primary-navigation{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.navigation-tab:first-of-type a{
    color: #ffffff
}
.navigation-tab a{
    text-decoration: none;
    color:#ffffffb4;
    transition: color 0.2s;
}
.navigation-tab a:hover{
    color:#ffffff6a;
    
}

.secondary-navigation{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.secondary-navigation img{
    height: 35px;
    width: 35px;
    border-radius: 4px;
}
.secondary-navigation i{
    font-size: 25px;
}
.secondary-navigation a{
    color:#ffffff;
}

.hero {
    position: relative;
    height: auto;
    width: 100%;
}
.hero-image-wrapper {
    position: relative;
}
.hero-image-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, #00000000, #000)
}
.hero-image-wrapper img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.fill-container{
    position: absolute;
    bottom: 20%;
    left: 5%;
    max-width: 550px;
}
.titleWrapper img{
    max-width: 100%;
    margin-bottom: 1rem;
}
.info-wrapper h1{
    margin-bottom: 0.5rem;
}
.info-wrapper p{
    font-size:1.3rem;
    margin-bottom: 1.5rem;
}
.left-button-layer{
    display: flex;
    gap:1rem;
}
.left-button-layer button {
    padding: 0.6rem 1.85rem;
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
}
.left-button-layer button:first-child{
    background-color: #ffffff;
    color: #000;
}
.left-button-layer button:last-child{
    background-color: #7c7c7c;
    color: #ffffff;
}

.right-button-layer {
    position: absolute;
    right: 0%;
    bottom: 20%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.right-button-layer i{
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.maturity-rating{
    display: flex;
    align-items: center;
    padding-right: 50px;
    padding-left: 10px;
    margin-left: 0.5rem;
    height:35px;
    
    
    background:#0000006f;
    border-left: 2px solid #ffffff;
}
.content-row.first{
    margin-top: -5rem;
}
.content-row{
     margin-top: 2rem; 
     padding: 0 2rem; 
     position: relative;
     z-index: 5;
} 
.row-container{ 
    z-index: auto;
    position: static;
    display: flex; 
    gap: 0.5rem; 
    overflow-x: auto; 
    overflow-y: visible; 
    scroll-behavior: smooth; 
} 
.row-container::-webkit-scrollbar{
    display:none;
}
.row-container img{ 
    
    width: 200px; 
    border-radius: 4px; 
    transition: transform 0.3s ease; 
    transform-origin: center bottom;
} 
.row-container img:hover{ 
    position: relative;
    z-index: 10;
    transform: scale(1.2);
    box-shadow: 0 10px 20px #00000083;
}
.content-row h1{
    position: relative;
    z-index: 1;
}
footer{
    padding: 3rem 2rem;
    font-size: 0.8rem;
    align-items: center;
}

footer a{
    color: #b4b3b3;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
.socials{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}
.socials a{
    font-size: 1.5rem;
}
.links{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
}
.link-column{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.info p{
    margin: 0.25rem 0;
    line-height: 1.5;
}